body {
  position: relative;
  background: rgba(255, 255, 255, 0.005);
  margin: auto;
  text-align: center;
}

#slider {
  /* display: none; */
  left: 0;
  width: 100%;
  height: 100%;
}

#info {
  /* display: none; */
  width: 100%;
  height: 100%;
}
