body {
  position: relative;
  background: rgba(255, 255, 255, 0.005);
  margin: auto;
  text-align: center;
}

#slider {
  /* display: none; */
  left: 0;
  width: 100%;
  height: 100%;
}

#info {
  /* display: none; */
  min-width: 100%;
  min-height: 100%;
}

.simple-slider .slider-slide {
  background-position: center;
  min-height: 600px;
}
