body {
  position: relative;
  background: rgba(255, 255, 255, 0.005);
  margin: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  vertical-align: middle;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

.simple-slider .slider-slide {
  background-position: center;
  vertical-align: middle;
  min-height: 80vh;
}
